body{
    
}


h1{
    font-size: 50px;
    color: brown;

}
.highlight{
    color: orange;
}
.hlaf-weight{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.hlaf-weight img{
    width: 100%;
    size: 10%;
    
}
